@import "./variables.less";

body {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.centred {
    align-items: center;
  }
}

.purple-dotted-outline {
    outline: 1px dotted @purple-color;
    outline-offset: 2px;
}

.focus-outline:focus {
    .purple-dotted-outline;
}
